aio-etcd==0.4.5.0
aioconsole==0.1.3
aiohttp==2.2.0
async-timeout==1.2.1
asyncpg==0.11.0
cffi==1.10.0
chardet==3.0.4
dnspython==1.15.0
dnspython3==1.15.0
guillotina==1.1.0a112
jsonschema==2.6.0
multidict==3.1.0
pycparser==2.17
pycrypto==2.6.1
PyJWT==1.5.2
python-dateutil==2.6.0
python-etcd==0.4.5
six==1.10.0
ujson==1.35
urllib3==1.26.5
yarl==0.10.3
zope.interface==4.4.2
